.activity-chart {
        @include flex-center;
        @include border-radius-small;
        position: relative;
        background-color: $tertiary-color;
        min-width: 835px;
        width: 100%;
        max-height: 320px;
        height: 320px;
        padding: 20px;

        &__container {
            @include width-height-max;
        }

        &__title {
            @include font(15px, bold);
            position: absolute;
            color: #20253A;
            margin: 0;
            top: 30px;
            left: 30px;
        }

        &__legend {
            @include font(14px, 500);
            color: $key-type-color;
            margin: 0 15px 0 5px;
        }

        &__XAxis, &__YAxis {
            @include font(14px, 500);
        }

        &__tooltip {
            @include font(12px, 500);
            @include flex-column;
            background-color: $secondary-color;
            color: white;
            padding: 20px 5px;
        }
    }

.recharts-tooltip-cursor {
    fill: rgba(204, 204, 204, 0.5)
}