.main {
    display: flex;
    @include width-height-max;
}

.dashboard {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px 100px 100px 100px;
    height: 100%;
}

.charts {
    display: flex;
    justify-content: space-between;
    max-width: 1126px;
    max-height: 779px;
    padding-top: 2%;
}
  

article {
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}

  
  //Other charts section
.small-charts{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 2%;
}