.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #020203;
    height: 80px;

    &__logo {
        height: 60px;
        padding-left: 20px;
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        width: 75%;
        padding: 0 40px;

        & a {
            @include font(24px, 500);
            color: white;
            text-decoration: none;
        }
    }
}
