@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    @include body-dimensions;
    
}

.main {
  display: flex;
  @include width-height-max;
}

.dashboard {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px 100px 100px 100px;
  height: 100%;
}

.charts {
  display: flex;
  justify-content: space-between;
  max-width: 1126px;
  max-height: 779px;
  padding-top: 60px;

  &__container {
      width: 100%;
  }
}

.small-charts {
  @include flex-center;
  justify-content: space-between;
  width: 100%;
  padding-top: 2%;
}

.error-page{
    @include flex-column;
    @include font(36px, 500);
    margin-top: 100px;
}

.error-number {
	@include flex-center;
	@include font(288px, 700);
    color: $secondary-color;
	margin: 0;
}

.error-text {
	@include font(36px, 500);
	text-align: center;
}


.list-users {
    @include font(30px, 500);
    @include flex-center;

    & a {
      text-decoration: none;
      color: black;
      margin: 50px;
      
      &:hover {
        text-decoration: underline;
      }
    }

  }
