.sidebar {
    @include flex-center;
    justify-content: space-around;
    flex-direction: column;
    width: 117px;
    background-color: $nav-color;
    position: relative;
  
    img {
      margin: 10px;
    }

    &__image-container{
      @include flex-center;
      flex-direction: column;
      background-color: $nav-color;
      position: relative;
      top: 120px;
    }

    &__copyright{
      display: flex;
      @include font(12px, 500);
      color: white;
      writing-mode: vertical-rl;
      transform: rotate(180deg);
      position: relative;
      top: 45px;
    }

  }