.key-data-container {
    @include flex-column;
    padding-left: 2%;
    justify-content: space-between;

    &__card {
        @include flex-center;
        @include border-radius-small;
        background-color: $tertiary-color;
        justify-content: flex-start;
        padding-left: 30px;
        width: 258px;
        height: 124px;
    }

    &__text {
        @include flex-column;
        align-items: flex-start;
        padding: 20px;
        line-height: 26px;
    }

    &__data {
        @include font(20px, 700);
        color: $key-data-color;
    }

    &__type {
        @include font(14px, 500);
        color: $key-type-color;
    }
}